@font-face {
  font-family: "Minion Pro";
  src: url("./fonts/MinionPro-MediumIt.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "P22 Undeground";
  src: url("./fonts/P22UndergroundCYThin.woff");
  font-weight: 100;
}

@font-face {
  font-family: "P22 Undeground";
  src: url("./fonts/P22UndergroundCYProLight.woff");
  font-weight: 300;
}

@font-face {
  font-family: "P22 Undeground";
  src: url("./fonts/P22UndergroundCYProMedium.woff");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "P22Undeground", sans-serif;
  font-weight: 100;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  font-size: 16px;
}

main {
  text-align: center;
  align-items: center;
  flex-direction: row;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 15%;
}

a{
  text-decoration: none;
  color: #fff;
}

/* Items first screen */


nav {
  color: #fff;
  font-size: 1.125rem;
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  font-family: "P22 Undeground";
  margin-left: 3em;
  list-style: none;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

/* Classes first screen */

.firstSection {
  background: url("img/backgr.jpg") no-repeat 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 3%;
  position: absolute;
  top: 0;
  left: 0;
}

.bookButton {
  font-family: "P22 Undeground";
  letter-spacing: 0.1rem;
  height: 3.4rem;
  padding: 0 2em;
  background-color: #b13c3c;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  float: left;
  margin-right: 10%;

  cursor: pointer;
}

.bookButton:hover {
  background-color: #812d2d;
  transition: background-color 0.2s ease-in;
}

.first {
  max-width: 40%;
  align-self: center;
  margin-top: 5%;
  margin-right: 0;
}
.container {
  height: 50%;
  width: 50%;
  margin-top: 30vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.container h1 {
  font-family: "P22 Undeground";
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 2%;
}

.container h4 {
  font-family: "Minion Pro", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

/* SecondSection */

.secondSection {
  display: block;

  background-color: #fff;
}

.HeaderText {
  font-family: "P22 Undeground";
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: #373f41;
  margin-top: 4%;
}

.section_container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4%;
}

.block {
  width: 30%;
  height: 26%;
  border: 1px solid #e2e5e6;
  vertical-align: middle;
}

.block h6 {
  padding-top: 8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1rem;
  color: #373f41;
  font-weight: 300;
}

.houses {
  overflow: hidden;
  margin: 10vh 29em;
}

/* thirdSection */

.thirdSection {
  display: block;
  background-color: #fff;
  margin-bottom: 16%;
}

/* parallax */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  background-size: cover;
}
.parallax_img {
  width: 100vw;
}
/* FourthSection */

/* houses blocks */
.house_blocks {
  height: auto;
  margin-top: 5%;
  background-color: #fff;
}

.house {
  width: 100vw;
  height: auto;
  max-height: 800px;
  display: flex;
  flex-direction: row;
  margin: 6vh 20vw;
}

.house img {
  max-width: 540px;
  max-height: 440px;
  margin-top: 5em;
  margin-bottom: 5em;
}

.lightButton {
  font-family: "P22 Undeground";
  height: 3.4rem;
  padding: 0 2rem;
  margin-left: -2vw;
  background-color: #fff;
  color: #b13c3c;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  border: 2px solid #b13c3c;
  float: left;

  cursor: pointer;
}

.lightButton:hover {
  background: #b13c3c20;
  transition: background 0.2s ease-in;
}

.house_info {
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: 2vw;
}

.houseDisciptionTitle {
  font-family: "P22 Undeground";
  color: #2c2f30;
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
  margin-bottom: 0.5em;
}

.houseDisciptionSubtitle {
  font-family: "Minion Pro";
  font-size: 1rem;
  font-weight: 300;
  color: #737b7d;
  max-width: 30em;
  text-align: left;
  line-height: 22px;
  margin-bottom: 3em;
}

/* FifthSection */

.fifthSection {
  background: white;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80%;
  justify-content: center;
}

.fifthSection h2 {
  font-family: "P22 Undeground";
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: black;
}

.fifthSection h3 {
  font-family: "P22 Undeground";
  text-align: center;
  font-size: 1.125rem;
  font-weight: 300;
  color: black;
  margin-top: 2%;
  margin-bottom: 3em;
}

.price_block {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70%;

  position: relative;
}

.fifthSection h5 {
  padding: 1em;
  padding-top: 3em;
}

.title_block_light {
  color: #fff;
  min-width: 15vw;
}

.title_block_dark {
  color: #000;
}

.title_block_light,
.title_block_dark {
  font-family: "P22 Undeground";
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: center;
}
.subtitle_block {
  font-family: "Minion Pro";
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2.5rem;
  max-width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  max-width: 30%;
  width: auto;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
}

.price_first {
  background-image: url("img/houses/onefloor_darker.png");
}

.price_second {
  background-image: url("img/houses/bgcard.png");
}

.price_third {
  background-image: url("img/houses/aparts_bg.png");
}

.title {
  height: 30%;
}
.book {
  height: 3rem;
  padding: 0 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  border: 2px solid #fff;

  cursor: pointer;
}

.book:hover {
  background: #ffffff50;
}

/* footer */

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 32%;
  flex: 1 1 33%;
  height: 90%;
}

.social_button {
  height: 6.25rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social img {
  width: 30px;
  color: #fff;
}

.social img:hover {
  margin-bottom: 30%;
  transition: margin-bottom 0.2s ease-in;
}


/* FORM */

.formContainer{
    position: absolute;
    z-index: 2;
    background-color: #00000050;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 40%;
    min-width: 500px;
    max-width: 1300px;
    max-height: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.hidden{
    display: none;
}


.closeForm{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
    padding: 5%;
    cursor: pointer;
}

.formHeader{
  font-family: 'P22 Undeground';
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.closeForm span {
    font-family: 'P22 Undeground';
    font-weight: 500;
    font-size: 1.5rem;
    color: #2c2f30;
}

.formItems{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.formItem{
    display: flex;
    height: auto;
    overflow: hidden;
    margin-bottom: 3%;
}
.formImgContainer{
  width: 30%;
  height: auto;
}
.formImg{
    max-width: 100%;
    width: 100%;
    height: auto;

    object-fit: containt;
}

.checkboxContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.itemDescr{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding-left: 4%;
    align-self: flex-start;
}

.itemHeader {
    font-family: 'P22 Undeground';
    font-weight: 500;
    padding-bottom: 4%;
}

.services p {
    font-family: 'Minion Pro';
    color: #737b7d;
}


input[type="checkbox"]{
    vertical-align: middle;
    /* height: 100%; */
    z-index: 1;
    margin-left: 4%;
    width: 2rem;
    -moz-transform: scale(1.3);
}

input[type="text"]{
  text-align: center;
  padding: 1rem;
  border: 1px solid #737b7d;
  width: 100%;
}

input[type="text"]:focus{
  background: #737b7d20;
}




.mainInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.inputContainer{
  width: 70%;
}

.infoHeader{
  font-family: 'P22 Undeground';
  font-weight: 500;
  padding: 1rem 0;
}

.formButton{
  margin: 0 auto;
  margin-top: 1rem;
}
